{% extends 'base.html' %}

{% block title %}Sam's Movie Blog : About{% endblock %}  <!-- Page-Specific Title -->

{% block content %}

  <div class="center-title-about">

    <h2>About This Site</h2>

  </div>

  <!-- Displays message to user -->
  <br><br>
  <p>Welcome to my movie blog! My name is Sam, and here are my top 10 favorite movies. I created this website as a school project.</p>
  <p>The purpose of this site is to share my favorite movies and provide a space where we can discuss the list, exchange opinions,</p>
  <p>and talk about other movies not included.</p><br><br>

  <p>Check out my <a href="{{ url_for('blog.index') }}">blog</a> to discuss the list or to make suggestions about other movies!</p><br><br>
  <p>Special thanks to TMDB for allowing me to use their API for free. Be sure to check out their site in the link below by clicking their logo.</p><br><br>

  <!-- TMDb Credit Section for utilizing their API -->
  <div class="tmdb-credit">

    <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>

    <a href="https://www.themoviedb.org/" target="_blank">

      <img src="{{ url_for('static', filename='images/tmdb_logo.svg') }}" alt="TMDb Logo" class="tmdb-logo">

    </a>

  </div>

{% endblock %}


